// importo bootstrap dopo averlo installato
@import 'bootstrap/scss/bootstrap';
//uso le variabili colore personalizzate
@import './partials/variables.scss';

@import './partials/card.scss';


* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.debug {
  border: 1px solid black;
}

.debug-bg {
  background-color: cadetblue;
}
